.add-data-wrap{
    width: 250px;
}
.add-data-contents{
    height: 140px;
    overflow: hidden;
    display: flex;
    width: 1500px;
    transition: 0.5s;
}

.add-data-contents>*{
    width: 250px;
}

.add-data-step1{
    height: 100%;
    padding-top: 25px;
}

.add-data-step-text{
    font-family: 'Noto Sans KR';
    font-weight: 600;
}
.add-data-step1-scores{
    margin-top: 15px;
}
.add-data-step1-score{
    font-size: 2.2em;
    transition: 0.4s;
    display: inline-block;
    margin: 0 3px;
    color: #c5c5c5;
}

.add-data-step1-selected{
    transform: translateY(-7px);
    color: transparent;
    -webkit-background-clip: text !important;
    background-clip: text !important;
}

.add-data-step2,.add-data-step3{
    height: 100%;
    padding-top: 15px;
}

.add-data-step2-time,.add-data-step3-time{
    margin-top: 15px;
    font-size: 1.8em;
}

.add-data-step-text,.add-data-step2-tx,.add-data-step3-tx,.add-data-step4-date>*{
    color:black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
    background-clip: text !important;
}

.add-data-step2-h,.add-data-step2-m,.add-data-step3-h,.add-data-step3-m{
    border: none;
    width: 41px;
    margin-left: -9px;
    font-size: 1em;
    text-align: right;
    height: 32px;
    letter-spacing: -1px;
    font-weight: 500;
    color:#565656;
}

.add-data-step2-tx,.add-data-step3-tx{
    font-size: 0.7em;
    font-family: 'Jua' !important;
    margin-right: 10px;
    margin-left: 2px;
}

.add-data-step4{
    margin-top: 15px;
}

.add-data-step4-date{
    margin-top: 20px;
}

.add-data-step4-date>*{
    font-size: 1.5em;
    font-weight: 500;
}

.add-data-step4-year{
    border: none;
    width: 175px;
    text-align: center;
    letter-spacing: -1.5px;
}
.add-data-step4-M{
    border: none;
    width: 25px;
}
.add-data-step4-d{
    border: none;
    width: 39px;
}

.add-data-step5{
    padding-top: 45px;
    height: 100%;
    font-size: 1.1em;
}
.add-data-btn-wrap{

}
.add-data-btn{
    width: 71px;
    margin: 4px 8px;
    border: none;
    height: 33px;
    border-radius: 5px;
    font-weight: 700;
}