.auth__wrap{
    background: linear-gradient(to right bottom, #2193b0, #6dd5ed);
    width: 100vw;
    height: 100vh;
}

.auth__background{    
    width: 130vw;
    height: 130vw;
    border-radius: 65vw;
    background-color: #f2f2f2;
    display: inline-block;
    position: fixed;
    left: -15vw;
    top: calc(50vh - 63vw);
    transition: 1s;
    transform: scale(0);
    transition-timing-function: cubic-bezier(0.58, 0.04, 0.28, 1.88);
}

.auth__start .auth__background{
    transform: scale(1);
}

.auth__wrap *:not(.auth__background){
    transition: 1s;
    opacity: 0;
}

.auth__start *:not(.auth__background){
    opacity: 1;
}

.auth__btn_wrap{
    position: fixed;
    top: 45vh;
    width: 100vw;
    height: 20vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.auth__btn{
    border: none;
    margin: 24px;
    height: min(14vw,99px);
    width: min(28vw,180px);
    box-shadow: 0 0 9px 5px #00000014;
    border-radius: min(3vw,20px);
    cursor: pointer;
    background: #69b5c9;
    color: #ffffffe8;
    font-size: min(3.1vw,23px);
}

.auth__logo{
    background: linear-gradient(to right bottom, #2193b0, #6dd5ed);
    color: transparent;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    position: fixed;
    display: inline-block;
    width: 100vw;
    height: 50vw;
    top: 35vh;
    font-size:  min(15vw,95px);
    text-align: center;
    font-weight: bold;
    font-family: 'Rubik Puddles';
    
}