.card-wrap{
    display: inline-block;
    width: 260px;
    padding: 13px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 0 6px 3px #cdcdcd;
    position: relative;
    padding-top: 40px;
    text-align: center;
}

.card-wrap-header{
    height: 30px;
    padding-top: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
    font-weight: 500;
    font-size: 1.1em;
}
