*{
    font-family: 'Poppins', sans-serif;
    margin: 0;

    /* 드래그 방지 */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body{
    background: #efefef;
}

.font-icon{
    font-family: 'Material Icons';
}

*:focus{
    outline: none;
}