.footer-wrap{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 65px;
}

.footer-btn{
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1.15em;
    font-weight: 500;
}