.home-wrap{
    display: grid;
    justify-items:center;
    padding-top: 60px;
    padding-bottom: 70px;
}

.home-wrap-half{
    width: 85%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    max-width: 385px;
}

.home-wrap-half>*:nth-child(1){
    margin-right: 8px;
}

.home-wrap-half>*:nth-child(2){
    margin-left: 8px;
}

.home-wrap-full{
    width: 85%;
    max-width: 385px;
}

.home-wrap-full>*{
    width: 100%;
}

.home-wrap>*{
    margin-bottom: 10px;
}

.home-tips{
    font-family: 'Noto Sans KR';
    font-size: 0.95em;
    font-weight: 300;
    padding: 10px;
}

.home-add-btn{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 11px;
    font-size: 2.1em;
    background: #00000029;
    color: white;
}

.home-for-you-wrap,.home-at-you-wrap{
    display: inline-flex;
    width: 100%;
    height: 55px;
}

.home-for-you-base{
    font-family: 'Noto Sans KR';
    font-size: 0.6em;
    position: absolute;
    bottom: 6px;
    right: 9px;
    font-style: italic;
    color: black;
    font-weight: 100;
}

.home-for-you-hour,.home-at-you-hour{
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    width: 100%;
}

.home-for-you-hour{
    font-size: 2.1em;
    letter-spacing: -2.1px;
    margin-top: auto;
}

.home-at-you-hour{
    font-size: 2.5em;
    letter-spacing: -3px;
}

.home-for-you-hour-text{
    font-size: 0.6em;
    display: inline-block;
    position: absolute;
    left: 15px;
    bottom: 8px;
}

.home-graph-wrap{
    /* height: 175px; */
    height: 115px;
    display: flex;
    padding: 2px 20px;
}

.home-graph-data{
    display: grid;
    align-items: end;
    grid-template-rows: 4fr 1.1fr;
}

.home-graph-bar{
    display: inline-block;
    width: 11px;
    margin-right: 2px;
    /* margin-bottom: 12px; */
}

.home-graph-rating1{opacity: 0.3;}
.home-graph-rating2{opacity: 0.45;}
.home-graph-rating3{opacity: 0.6;}
.home-graph-rating4{opacity: 0.75;}
.home-graph-rating5{opacity: 9;}

.home-graph-date{
    font-weight: 300;
    font-size: 0.6em;
    letter-spacing: -0.1em;
    transform: rotate(270deg) translate(-7px,1px);
    display: inline-block;
    width: 13px;
    color: #cbcbcb;
    letter-spacing: -1.5px;
}

.home-score-wrap{
    width: 85vw;
    max-width: 385px;
    height: 200px;
    overflow: hidden;
}

.home-score-box{
    width: 305px;
    height: 150px;
    margin: auto;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 13px;
}