.home-wrap {
    display: grid;
    justify-items: center;
    padding-top: 60px;
    padding-bottom: 70px;
}

.home-wrap-half {
    width: 85%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    max-width: 385px;
}

.home-wrap-half>*:nth-child(1) {
    margin-right: 8px;
}

.home-wrap-half>*:nth-child(2) {
    margin-left: 8px;
}

.home-wrap-full {
    width: 85%;
    max-width: 385px;
}

.home-wrap-full>* {
    width: 100%;
}

.home-wrap>* {
    margin-bottom: 10px;
}

.home-tips {
    font-family: 'Noto Sans KR';
    font-size: 0.95em;
    font-weight: 300;
    padding: 10px;
}

.home-add-btn {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 11px;
    font-size: 2.1em;
    background: #00000029;
    color: white;
}

.home-for-you-wrap, .home-at-you-wrap {
    display: inline-flex;
    width: 100%;
    height: 55px;
}

.home-for-you-base {
    font-family: 'Noto Sans KR';
    font-size: 0.6em;
    position: absolute;
    bottom: 6px;
    right: 9px;
    font-style: italic;
    color: black;
    font-weight: 100;
}

.home-for-you-hour, .home-at-you-hour {
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    width: 100%;
}

.home-for-you-hour {
    font-size: 2em;
    letter-spacing: -2.3px;
    margin-top: auto;
}

.home-at-you-hour {
    font-size: 2.5em;
    letter-spacing: -3px;
}

.home-for-you-hour-text {
    font-size: 0.6em;
    display: inline-block;
    position: absolute;
    left: 15px;
    bottom: 8px;
}

.home-graph-wrap {
    /* height: 175px; */
    height: 115px;
    display: flex;
    padding: 2px 20px;
}

.home-graph-data {
    display: grid;
    align-items: end;
    grid-template-rows: 4fr 1.1fr;
}

.home-graph-bar {
    display: inline-block;
    width: 11px;
    margin-right: 2px;
    /* margin-bottom: 12px; */
}

.home-graph-rating1 {
    opacity: 0.3;
}

.home-graph-rating2 {
    opacity: 0.45;
}

.home-graph-rating3 {
    opacity: 0.6;
}

.home-graph-rating4 {
    opacity: 0.75;
}

.home-graph-rating5 {
    opacity: 9;
}

.home-graph-date {
    font-weight: 300;
    font-size: 0.6em;
    letter-spacing: -0.1em;
    transform: rotate(270deg) translate(-7px, 1px);
    display: inline-block;
    width: 13px;
    color: #cbcbcb;
    letter-spacing: -1.5px;
}

.home-score-wrap {
    width: 85vw;
    max-width: 385px;
    height: 200px;
    overflow: hidden;
}

.home-score-box {
    width: 320px;
    height: 150px;
    margin: auto;
    border-left: 2px solid #0000005c;
    border-bottom: 2px solid #0000005c;
    margin-top: 28px;
    position: relative;
    transform: scale(0.85);
}

.home-score-horizontal-line {
    width: 100%;
    height: 1px;
    /* background-color: #8080804d; */
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
}

.home-score-horizontal-line:nth-child(2) {
    transform: translateY(30px);
}

.home-score-horizontal-line:nth-child(3) {
    transform: translateY(60px);
}

.home-score-horizontal-line:nth-child(4) {
    transform: translateY(90px);
}

.home-score-horizontal-line:nth-child(5) {
    transform: translateY(120px);
}

.home-score-horizontal-line::after {
    position: absolute;
    bottom: -14px;
    font-size: 1.1em;
    left: -23px;
    font-family: 'Material Icons';
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    background: inherit;
}

.home-score-horizontal-line:nth-child(5)::after {
    content: 'sick';
}

.home-score-horizontal-line:nth-child(4)::after {
    content: 'mood_bad';
}

.home-score-horizontal-line:nth-child(3)::after {
    content: 'sentiment_satisfied';
}

.home-score-horizontal-line:nth-child(2)::after {
    content: 'mood';
}

.home-score-horizontal-line:nth-child(1)::after {
    content: 'emoji_emotions';
}

.home-score-vertical-line {
    height: 100%;
    width: 1px;
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
}

.home-score-vertical-line:nth-child(1) {
    transform: translateX(40px);
}

.home-score-vertical-line:nth-child(2) {
    transform: translateX(80px);
}

.home-score-vertical-line:nth-child(3) {
    transform: translateX(120px);
}

.home-score-vertical-line:nth-child(4) {
    transform: translateX(160px);
}

.home-score-vertical-line:nth-child(5) {
    transform: translateX(200px);
}

.home-score-vertical-line:nth-child(6) {
    transform: translateX(240px);
}

.home-score-vertical-line:nth-child(7) {
    transform: translateX(280px);
}

.home-score-vertical-line:nth-child(8) {
    transform: translateX(319px);
}

.home-score-vertical-line::after {
    position: absolute;
    bottom: -19px;
    font-size: 0.7em;
    left: -14px;
}

.home-score-vertical-line:nth-child(1)::after {
    content: '3H';
}

.home-score-vertical-line:nth-child(2)::after {
    content: '4H';
}

.home-score-vertical-line:nth-child(3)::after {
    content: '5H';
}

.home-score-vertical-line:nth-child(4)::after {
    content: '6H';
}

.home-score-vertical-line:nth-child(5)::after {
    content: '7H';
}

.home-score-vertical-line:nth-child(6)::after {
    content: '8H';
}

.home-score-vertical-line:nth-child(7)::after {
    content: '9H';
}

.home-score-vertical-line:nth-child(8)::after {
    content: '10H';
}

.home-srore-time-tx {
    font-size: 0.7em;
    position: absolute;
    bottom: -13px;
    right: -32px;
    transform: rotate(90deg);
}

.home-srore-rating-tx {
    font-size: 0.7em;
    position: absolute;
    top: -22px;
    left: -19px;
}

.home-score-dot {
    width: 7px;
    height: 7px;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
}