.setting-wrap{
    display: grid;
    justify-items: center;
}

.color-sample{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 3px;
    border: #c3c3c3 1px solid;
    border-radius: 5px;
    box-shadow: 3px 2px 3px 1px #00000012;
}


.setting-title{
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
    background: #00000000;
    padding: 2px 12px;
    font-weight: 700;
    margin-bottom: 5px;
}


.setting-pallet-category{
    font-size: 0.9em;
    text-align: center;
}

.pallet-wrap{
    display: flex;
    justify-content: center;
}

.setting-save-btn{
    border: none;
    position: fixed;
    bottom: 89px;
    width: 76px;
    height: 41px;
    color: white;
    opacity: 0.9;
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: 500;
    left: calc(50% - 38px);
}

