.setting-wrap{
    display: grid;
    justify-items: center;
}

.color-sample{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 3px;
    border: #c3c3c3 1px solid;
    border-radius: 5px;
    box-shadow: 3px 2px 3px 1px #00000012;
}


.setting-title{
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
    background: #00000000;
    padding: 2px 12px;
    font-weight: 700;
    margin-bottom: 5px;
}

.setting-pallet-wrap{
    display: inline-block;
    width: 260px;
    padding: 13px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 0 6px 3px #cdcdcd;
    position: relative;
    padding-top: 40px;
    text-align: center;
}

.setting-pallet-wrap-header{
    height: 30px;
    padding-top: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
    font-weight: 500;
    font-size: 1.1em;
}

.setting-pallet-category{
    font-size: 0.9em;
    text-align: center;
}

.pallet-wrap{
    display: flex;
    justify-content: center;
}

.setting-save-btn{
    border: none;
    position: fixed;
    bottom: 89px;
    width: 76px;
    height: 41px;
    color: white;
    opacity: 0.9;
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: 500;
}

