.color-sample{
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 5px;
    border: #c3c3c3 1px solid;
    border-radius: 5px;
    box-shadow: 3px 2px 3px 1px #00000012;
}

.color-main-01 .main-color,.color-sample.color-main-01{
    background:linear-gradient(to right bottom,  #2193b0, #6dd5ed);
}
.color-main-02 .main-color,.color-sample.color-main-02{
    background:linear-gradient(to right bottom, #ee9ca7, #ffdde1)
}
.color-main-03 .main-color,.color-sample.color-main-03{
    background:linear-gradient(to right bottom, #8360c3, #2ebf91)
}
.color-main-04 .main-color,.color-sample.color-main-04{
    background:linear-gradient(to right bottom, #ed213a, #93291e)
}
.color-main-05 .main-color,.color-sample.color-main-05{
    background:linear-gradient(to right bottom, #0f2027, #203a43, #2c5364)
}
.color-main-06 .main-color,.color-sample.color-main-06{
    background:linear-gradient(to right bottom, #f953c6, #b91d73);
}
.color-main-07 .main-color,.color-sample.color-main-07{
    background:linear-gradient(to right bottom, #1f4037, #99f2c8)
}
.color-main-08 .main-color,.color-sample.color-main-08{
    background:linear-gradient(to right bottom, #12c2e9, #c471ed, #f64f59)
}