.sleepcard-wrap *:not(.font-icon,.sleepcard-plus-btn){
    font-family: 'jua';
}

.sleepcard-wrap{
    font-size: 0.7em;
    margin: 5px 0px;
    box-shadow: 0px 2px 3px 2px #0000001f;
    height: 50px;
    border-radius: 8px;
    transition: 0.7s;
    width: 85%;
    padding: 3px;
}

.sleepcard-new-wrap{
    display: grid;
    justify-items: center;
    align-content: center;
    height: 100%;
    border-radius: 8px;
}

.sleepcard-plus-btn{
    background-color: #0000002e;
    font-family: 'Material Icons';
    font-size: 2em;
    padding: 6px;
    display: inline-block;
    border-radius: 5px;
}

.sleepcard-old-wrap{
    display: grid;
    height: 100%;
    border-radius: 8px;
    grid-template-columns: 3fr 8.5fr;
}

.sleepcard-header{
    border-radius: 8px 0 0 8px;
    font-size: 1.15em;
    display: grid;
    align-items: center;
    justify-items: center;
}

.sleepcard-body {
    border-radius: 0 8px 8px 0;
    display: grid;
    grid-template-columns: 7fr 1fr 1.2fr;
    align-items: center;
    justify-items: center;
}

.sleepcard-data,.sleepcard-icon{
    color: transparent;
    -webkit-background-clip: text !important;
    background-clip: text !important;
}

.sleepcard-icon{
    font-size: 2.1em;
    text-shadow: 0 0 5px #0000001a;
}

.sleepcard-wrap.deleted{
    height: 0px;
    overflow: hidden;
    box-shadow: none;
    margin: -6.5px 9px;
}